<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img
      id="profile-img"
      class="profile-img-card"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <span id="reauth-email" class="reauth-email"></span>

      <input
        type="password"
        id="currentPassword"
        name="currentPassword"
        class="form-control"
        formControlName="password"
        placeholder="Enter New Password"
        required
      />
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="form-control"
        formControlName="repeatPassword"
        placeholder="Confirm Password"
        required
      />

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
        Update Password
      </button>
    </form>
  </div>
  <!-- /card-container -->
</div>
<!-- /container -->
