<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img
      id="profile-img"
      class="profile-img-card"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-forgot" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <span id="reauth-email" class="reauth-email"></span>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter New Email"
        required
      />
      <div
        *ngIf="
          !forgotForm.get('email').valid && forgotForm.get('email').touched
        "
        class="text-danger text-center"
      >
        Please enter a valid email!
      </div>
      <button
        class="btn btn-lg btn-primary btn-block btn-signin mt-3"
        type="submit"
      >
        Send Reset Link
      </button>
    </form>
  </div>
  <!-- /card-container -->
</div>
<!-- /container -->
